.swiper{
  margin-top: 20px;
  position: relative;
  transition: opacity 0.1s ease-in-out;
}

.swiperCards{
  flex-grow: 1;
  height: 300px;
}


.items{

}
.item{

}
#cardTitle{
  margin: 30px 10px 5px 10px;
  text-align: center;
}

.cardSubTitle{
  color: #4978A9;
  margin: 10px 0 5px 0;
  align-items: center;
  font-size: 13px;
  font-weight: 500;

}
.cardSubTitleAbout{
  color: #4978A9;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  margin: 0;
}

.wrap{

  border-radius: 10px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  z-index: 2;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.wrap > img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #fff;
  object-fit: cover;
}

.bio{

}
.p10{
  padding: 10px;
}

.cardInputContent{
  border: 1px solid var(--tg-theme-secondary-bg-color);
  border-radius: 10px;
  width: 100%;
  overflow-y: scroll;
  height: 50%;
}
.noUsersList{
  text-align: center;
}
.title{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.text{
  text-align: center;
  padding-top: 20px;
}
.cardInputContent > .p10 > input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
  padding-bottom: 10px;
}

.swiperButtons{
  position: absolute;
  z-index: 5;
  bottom: -30px;
  width: 100%;
  display: flex;

}

.falseBtn{
  font-size: 40px;
  width: 50px;
  height: 50px;
  background: linear-gradient(0deg, rgba(165,42,100,1) 0%, rgba(174,57,61,1) 88%);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.falseBtn > i{
  border-radius: 100%;
  border: 2px solid #fff;
  color: #fff;
  font-size: 25px;
}

.trueBtn{
  position: relative;
  font-size: 40px;
  width: 50px;
  height: 50px;
  background: linear-gradient(180deg, rgba(30,147,81,1) 0%, rgba(16,141,161,1) 62%);
  margin-left: auto;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
}

.trueBtn > i{
  font-size: 35px;
  color: #fff;
}

.coutOfTry{
  position: absolute;

  font-size: 13px;
  margin-bottom: 0px;
}

.fakeBlock{
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: 99999;
  display: flex;
  text-align: center;
  justify-content: center;

  align-items: center;
}

.falseSwap{
  padding: 5px;
  border: 1px solid #fff;
}

.falseSwap > i {
  font-size: 20px;
  color: #fff;
}

.fakeBlock > i{
  font-size: 20px;
  color: #fff;
}

