@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background-color: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-text-color);
  color-scheme: var(--tg-color-scheme);
  margin: 0;
  padding: 0;
  width: 1px;
  min-width: 100%;
  min-height: 100vh;
  --block-bg-color: var(--tg-theme-bg-color);
  --bg-color: #ebedf0;
  --animation: .15s ease;
  --page-animation-duration: .3s;
  --page-animation: var(--page-animation-duration) ease;
  --status-height: 48px;
  --accent-color: #31b545;
  --main-color: #f8a917;
  --text-color: #222;
  --page-hint-color: #83878a;
  --hint-color: #74787a;
  --placeholder-color: #999da1;
  --ripple-duration: .45s;
  --ripple-end-duration: .3s;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

html.dark body {
  --block-bg-color: var(--tg-theme-secondary-bg-color);
  background-color: #232E3C;
  color: #fff !important;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.header{
  padding-top: 20px;
}

.container{
  max-width: 900px;
  margin: 0 auto;
}

.content{
  background-color: var(--tg-theme-bg-color);
  margin-top: 50px;
  border-radius: 20px;
  position: relative;
  width: 100%;
}

html.dark .content{
  margin-top: 50px;
  background-color: var(--tg-theme-bg-color);
  border-radius: 20px;
  position: relative;
  width: 100%;
}

.wrap{
  padding: 40px;

}

.logo > img{

  height: 40px;

}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chatLink{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 7px;
  background-color: var(--tg-theme-bg-color);
  position: relative;
}
.chatLink > a{
  text-decoration: none;
}

.chatLink > a > i{
  font-size: 19px;
  background: transparent;
  color: var(--tg-theme-text-color);
}

.profileLink{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--tg-theme-bg-color);
}

.profileLink > a >img{
  border: 3px solid var(--tg-theme-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #F1F5F9;
  object-fit: cover;
}

html.dark .profileLink > a > img{
  border: 3px solid black;
  background-color: transparent;
}

.profileLink > a{
  text-decoration: none;
}

.profileLink > a > i{
  font-size: 20px;
  background: transparent;
  color: #fff;
}

.d-none{
  display: none;
}

.altc{
  text-align: center;
}

.footer{
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-top: 55px;
}

.relNone{
  position: static !important;
}

//main
.posAbsolute{
  position: absolute;
  background-color: yellow;  //var(--tg-theme-bg-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}
html.dark .posAbsolute{
  background-color: var(--tg-theme-bg-color);
}

.cardInfo{
  background-color: var(--tg-theme-bg-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 2;
  height: 100%;
  transition: all 0.3s ease-in-out;
  position: relative;
}
html.dark .cardInfo{
  background-color: #17212B;
}
.cardTitle{
  margin: 10px 0;
}

.cardInfo > img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #fff;
  object-fit: cover;
}

//profile

.pencil{
  position: absolute;
  border: 3px solid #fff;
  z-index: 2;
  margin-top: -25px;
  margin-left: 47px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: skyblue;
}
.pencil > i{
  color:  var(--tg-theme-bg-color);
}
html.dark .pencil{
  border: 3px solid #18212A;
}

@media (max-width: 1024px){
  .container{
    max-width: 750px;
  }
}

@media (max-width: 768px){
  .container{
    max-width: 85vw;
  }
}